body {
	background-color: whitesmoke;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center; 
	h1 {
	  font-family: 'Parisienne', cursive;
	  font-size: 3em;
	  margin-bottom: 10px;
	  color: hsl(302, 50%, 80%);
	  text-align: center;
	}
	h2 {
	  font-family: 'Open sans';
	  text-align: center;
	}
	h3 {
	  background-color: #f3d4f2;
	  padding: 8px;
	  font-family: 'Open sans';
	  text-align: center;
	}
  
	h4 {
	  font-family: 'Open sans';
	  text-align: center;
	}
	margin: 2rem;
  }
  
  main {
	background-color: whitesmoke;
	margin: 13%;
	padding: 25px;
  }
  
